:root {
  --color-bg-main: #f5f5f5;
  --color-bg-header: #1c1d25;

  --color-text-main: #1c1d25;
  --color-text-header: #fff;

  --color-highlight: #007bff;

  --transition-delay: 1s;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg-main: #1c1d25;
    --color-bg-header: #f5f5f5;
    --color-text-main: #f5f5f5;
    --color-text-header: #1c1d25;
  }
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg-main);
  color: var(--color-text-main);
}

body.dark-mode p {
  color: var(--color-text-main);
}

header {
  height: 68px;
  width: 100vw;
  background-color: var(--color-bg-header);
  justify-content: space-around;
  color: var(--color-text-header);
  position: fixed;
  z-index: 100;
}

.hamburger {
  display: none; /* Hide by default */
  font-size: 30px; /* Size of the hamburger icon */
  background: none;
  border: none;
  color: var(--color-text-header); /* Color of the hamburger icon */
  cursor: pointer;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 200;
}

/* nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 200;
} */

/* nav {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  font-weight: 200;
} */

nav a {
  text-decoration: none;
  font-size: 30px;
  color: var(--color-text-header);
}

nav ul {
  display: flex;
  list-style-type: none;
  width: 50%;
  justify-content: space-around;
  font-size: 30px;
}

nav li {
  text-decoration: none;
  margin-bottom: 15px;
  transition: transform var(--transition-delay);
}

nav li:hover {
  transform: scale(1.1);
  transition: transform var(--transition-delay);
  /* color: var(--color-text-header); */
}

.logo {
  width: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

i {
  font-size: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  color: var(--color-text-header);
  padding-bottom: 5px;
}

/* Styles for small screens */
@media (max-width: 768px) {
  .nav-links {
    display: none; /* Hide the nav links on small screens */
    flex-direction: column; /* Stack them vertically */
    width: 100%; /* Full width */
    text-align: center; /* Center the links */
    position: absolute; /* Position them absolutely relative to nav */
    top: 68px; /* Height of the header */
    left: 0;
    background: var(
      --color-bg-header
    ); /* Match the background with the header */
  }

  .nav-links li {
    margin: 10px 0; /* Add some vertical margin for touch targets */
  }

  .nav-links li a {
    display: block; /* Make the links take up the full width */
    padding: 10px 20px; /* Add padding for touch targets */
  }

  .hamburger {
    display: flex; /* Show the hamburger icon on small screens */
    margin-left: 10rem;
  }

  /* Additional styles to handle the menu when it's open */
  .nav-links.show {
    display: flex; /* Show the nav links when 'show' class is added */
  }
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

@media (max-width: 768px) {
  .section-about,
  .section-projects {
    padding: 30px 0; /* Less padding on smaller screens */
    margin: 30px 0; /* Less margin on smaller screens */
  }
}

.section-about,
.section-projects {
  padding: 50px 0; /* Add top and bottom padding */
  margin: 50px 0; /* Add top and bottom margin */
}

.hero-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100vh;
}

.hero-header {
  font-weight: 500;
  font-size: 90px;
  cursor: pointer;
}

.hero-subtext {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  font-weight: 200;
  text-align: center;
}

.hero-subtext,
.hero-subtext span {
  display: inline;
}

.highlight {
  color: var(--color-highlight);
}

.hero-header span {
  display: inline-block;
  transition: transform 0.3s;
}

.hero-header span:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

@media (max-width: 1200px) {
  .hero-header {
    font-size: 70px; /* Adjust for medium-large screens */
  }
  .hero-subtext {
    font-size: 32px; /* Adjust subtitle font size */
  }
}

@media (max-width: 960px) {
  .hero-header {
    font-size: 60px; /* Adjust for medium screens */
  }
  .hero-subtext {
    font-size: 30px; /* Adjust for medium screens */
  }
}

@media (max-width: 768px) {
  .hero-header {
    font-size: 48px; /* Smaller font size */
  }
  .hero-subtext {
    font-size: 24px; /* Smaller font size */
  }
}

/* About Section */
.section-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.info-header {
  font-weight: 400;
}

.information {
  padding: 50px;
}

.information p {
  color: var(--color-text-main);
}

.info-header-container {
  padding-bottom: 50px;
}

.about-header {
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 25px;
}

.headshot-container {
  display: flex;
  align-items: center;
}

.headshot {
  margin-right: 15px;
  width: 400px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  transition: var(--transition-delay);
  /* filter: grayscale(100%); */
  border-radius: 5px;
}

@media (max-width: 480px) {
  .headshot {
    width: 90vw; /* Adjust headshot size for smaller screens */
  }
}

.headshot:hover {
  transform: scale(1.05);
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.25);
  transition: var(--transition-delay);
}

h2 {
  font-size: 50px;
  margin: 0;
}

@media (max-width: 1200px) {
  .project-card,
  .information,
  .headshot-container {
    width: auto; /* Ensure these elements scale properly */
    margin: 20px; /* Adjust margins for a bit more space */
  }
}

@media (max-width: 960px) {
  .content-container {
    flex-direction: column; /* Stack children vertically */
    padding: 20px;
  }
  .information {
    padding: 15px;
    text-align: center; /* If you want to center the text, otherwise remove this line */
  }
  .about-header,
  .info-header {
    font-size: 35px; /* Adjust font sizes */
  }

  /* Only center the image container */
  .headshot-container {
    display: flex;
    justify-content: center; /* Center the image container itself */
    align-items: center; /* Align items vertically */
    padding: 0; /* Reset padding if needed */
    margin-top: 20px; /* Add some space between the text and the image */
  }

  /* Adjust the image styling */
  .headshot {
    width: 50%; /* Adjust width as necessary */
    height: auto; /* Maintain the aspect ratio */
    margin-top: 0; /* Reset any specific margin-top styles if needed */
  }
}

@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
    text-align: center;
  }
  .information,
  .headshot-container {
    padding: 20px;
    width: auto; /* Ensure it takes up available width */
  }
}

/* Project Section */

.section-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.project-container {
  margin-top: 50px;
  display: flex;

  flex-wrap: wrap; /* Ensure that items can wrap to the next line */
  justify-content: space-between; /* Adjust content distribution */
}

.project-header-container {
  padding-bottom: 50px;
}

.project-header {
  font-weight: 400;
}

/* .project-card {
  width: 400px;
  height: auto;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  margin: 80px;
  margin-bottom: 30px;
  transition: var(--transition-delay);
  border-radius: 5px;
  background-color: #f5f5f5;
  border: 1px solid transparent;
} */

/* .project-card {
  height: auto;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  margin: 20px; 
  transition: var(--transition-delay);
  border-radius: 5px;
  background-color: #f5f5f5;
  border: 1px solid transparent;
  flex: 1; 
  max-width: calc(
    33.333% - 40px
  );
} */

.project-card {
  display: flex;
  flex-direction: column; /* Organize the content in a column */
  justify-content: space-between; /* Distribute space between items */
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  margin: 20px; /* Keep your reduced margin */
  transition: var(--transition-delay);
  border-radius: 5px;
  background-color: #f5f5f5;
  border: 1px solid transparent;
  flex: 1; /* Allow flex items to grow */
  max-width: calc(
    33.333% - 40px
  ); /* Adjust max-width for three cards in a row, accounting for margin */
  /* Set a min-height to ensure a consistent height regardless of content, adjust as needed */
  min-height: 400px;
}

.project-card:hover {
  transform: scale(1.05);
  transition: var(--transition-delay);
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.25);
  border-color: #eee;
  background-color: #eaeaea;
}

.project-card a {
  text-decoration: none;
  color: var(--color-text-main);
}

/* .project-img {
  margin-top: 25px;
  width: 350px;
  max-height: 190px;
} */

/* .project-img {
  margin-top: 25px;
  width: 100%;
  height: auto;
  display: block;
} */

.project-img {
  margin-top: 25px;
  width: 100%; /* This will make the image responsive */
  height: 200px; /* Set a fixed height for all images */
  object-fit: cover; /* This will cover the area without distortion */
  display: block; /* This will remove any extra space below the image that inline elements have */
}

.project-container hr {
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

.project-title {
  margin-top: 30px;
  /* font-size: 40px; */
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  font-weight: 400;
}

/* .subtext {
  font-size: clamp(0.8rem, 1.5vw, 1rem);
  font-weight: 400;
  margin-top: 25px;
} */

.subtext {
  font-size: clamp(0.8rem, 1.5vw, 1rem); /* Responsive font size */
  font-weight: 400;
  margin-top: 25px;
  min-height: 4em; /* Set a minimum height */
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack content vertically */
  justify-content: center; /* Center content vertically */
}

.projects {
  margin-top: 40px;
}

.description-link {
  /* font-size: 20px; */
  /* font-size: clamp(1rem, 2.5vw, 1.5rem); */
  font-size: clamp(0.8rem, 1.5vw, 1rem);
  cursor: pointer;
}

/* Media query for screens larger than 1697px */
@media (min-width: 1697px) {
  .project-container {
    justify-content: center; /* Centers the cards without stretching them too much */
  }
  .project-card {
    flex: 0 1 calc(33.333% - 40px); /* Do not grow, can shrink, and set the base width */
  }
}

/* Media query for screens between 1137px and 1697px */
@media (min-width: 1137px) and (max-width: 1697px) {
  .project-container {
    justify-content: space-around; /* This will give some space around items if they can't fit three in a row */
  }
  .project-card {
    flex: 0 1 calc(50% - 40px); /* Adjust the flex-basis to allow for two cards per row */
  }
}

@media (max-width: 1139px) {
  .project-card {
    width: calc(50% - 40px); /* Adjust width for two cards per row */
    margin: 20px; /* Reduce margin */
  }

  .project-img {
    height: 200px; /* Set a fixed height if necessary to prevent layout shift */
  }

  .project-title,
  .project-description {
    font-size: 0.9rem; /* Reduce font size */
  }
}

@media (max-width: 1137px) {
  .project-container {
    justify-content: center; /* Center the cards in the container */
  }

  .project-card {
    width: 90%; /* Set a width that is relative to the viewport */
    max-width: none; /* Remove any max-width restrictions */
    margin: 20px auto; /* Top and bottom margins with auto horizontal margins to center the cards */
    flex: none; /* Disable flex grow/shrink to maintain the width */
  }

  .project-img {
    height: auto; /* Allow the height to be auto to maintain aspect ratio */
    margin-top: 15px; /* Adjust margin-top if needed */
  }

  /* Adjust the font sizes if they are still too large */
  .project-title,
  .project-description,
  .description-link {
    font-size: clamp(
      0.8rem,
      4vw,
      1rem
    ); /* This will scale the font size based on the viewport width */
  }
}

@media (max-width: 768px) {
  .project-card {
    width: 100%; /* Full width for a single column layout */
    margin: 10px 0; /* Adjust margin for stacked layout */
  }

  /* Adjust image sizes and text to fit the single column layout */
  .project-img {
    height: 150px; /* Adjust to fit */
  }

  .project-title {
    font-size: 1.2rem; /* Adjust font size */
  }

  .project-description {
    font-size: 1rem; /* Adjust font size */
  }
}

/* Media query for screens smaller than 1137px */
@media (max-width: 1137px) {
  .project-container {
    flex-direction: column;
    align-items: center; /* This stacks the cards on top of each other and centers them */
  }
  .project-card {
    width: 80%; /* Set a specific width for smaller screens */
    flex: none; /* Disable flex grow/shrink */
    margin: 20px 0; /* Adjust margin to only vertical */
  }
}

@media (max-width: 960px) {
  .project-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .project-card {
    width: 45%; /* Adjust width for a 2-column layout */
    margin: 20px; /* Adjust spacing */
  }
}

@media (max-width: 768px) {
  .project-container {
    flex-direction: column;
    align-items: center;
  }
  .project-card {
    width: 90%; /* Use percentage for responsiveness */
    margin: 20px; /* Reduce margin */
  }
  .project-img {
    width: 80%; /* Adjust image width */
  }
}

/* Contact Section */

.section-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
}

.contact-header {
  font-weight: 400;
  margin-bottom: 10px;
}

@media (max-width: 960px) {
  .section-contact {
    padding: 40px 20px; /* Adjust padding for better spacing */
  }
}

@media (max-width: 768px) {
  .section-contact {
    padding: 40px 20px; /* Adjust padding */
  }
}

/* Project Description Views */
/* MyVinyls */
/* Description */

.project-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: auto;
  padding: 2rem 0;
  max-width: 900px;
  margin: auto;
}

.description-header-container {
  background-color: var(--color-bg-main);
  padding: 20px;
  border-radius: 8px;
}

.description-header {
  font-weight: 400;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.myVinyls {
  font-size: 50px;
  font-weight: 300;
  color: var(--color-highlight);
}

.content-container {
  text-align: left;
  padding: 0 15px;
}

.information p {
  line-height: 1.6;
  margin-bottom: 1rem;
  color: var(--color-text-main);
  /* color: #333; */
}

/* Showcase */

.project-showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: auto;
}

.showcase-project-card {
  width: 80vw;
  min-height: 700px;
  margin: 80px;
  transition: transform 0.3s;
}

.showcase-card-title {
  font-size: 35px;
  font-weight: 300;
}

.showcase-subtext {
  padding: 30px;
  text-align: justify;
  line-height: 1.6;
}

.showcase-description-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  margin: 10px;
  padding: 25px;
  gap: 50px;
}

.showcase-img {
  margin-top: 2rem;
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
  max-width: 100%;
  transition: var(--transition-delay);
}

.showcase-img-2 {
  margin-top: 2rem;
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
  max-width: 100%;
  transition: var(--transition-delay);
}

.showcase-img-3 {
  margin-top: 2rem;
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
  max-width: 100%;
  transition: var(--transition-delay);
}

.showcase-img:hover {
  transform: scale(2) translateX(28%);
  transition: var(--transition-delay);
}

.showcase-img-2:hover {
  transform: scale(2) translateX(-28%);
  transition: var(--transition-delay);
}

.showcase-img-3:hover {
  transform: scale(2) translateX(-28%);
  max-height: 500px;
  transition: var(--transition-delay);
}

.github-link {
  display: flex;
  justify-content: center;
}

.github-link a img {
  margin-top: 2rem;
  width: 50px;
}

/* Lessons Learned */

.lessons-learned {
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
