:root {
    --color-bg-main: #F5F5F5;
    --color-bg-header: #1c1d25;

    --color-text-main: #1c1d25;
    --color-text-header: #fff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-bg-main: #1c1d25;
        --color-bg-header: #F5F5F5;
        --color-text-main: #F5F5F5;
        --color-text-header: #1c1d25;
    }
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-bg-main);
    color: var(--color-text-main);
}

header {
    height: 68px;
    background-color: var(--color-bg-header);
    justify-content: space-around;
    color: var(--color-text-header);
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav a {
    text-decoration: none;
    color: var(--color-text-header);
}

nav ul {
    display: flex;
    list-style-type: none;
    width: 50%;
    justify-content: space-around;
    font-size: 30px;
}

nav li {
    text-decoration: none;
    margin-bottom: 5px;
}

.logo {
    width: 50px;
    margin-bottom: 10px;
}

.dark-light-btn {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: var(--color-text-header);
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    /* scroll-margin-top: 100vh; */
    height: 100vh;
}

.hero-header {
    font-weight: 600;
    font-size: 90px;
}

.hero-subtext {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    font-weight: 200;
}

/* About Section */
.section-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.content-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.information {
    padding: 50px;
}

.info-header-container {
    /* padding-top:  30px; */
    padding-bottom: 50px;
}

.about-header {
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 25px;
}

.headshot-container {
    display: flex;
    align-items: center;
}

.headshot {
    margin-left: 30px;
    width: 400px;
    box-shadow: 5px 5px 20px;
}

h2 {
    font-size: 50px;
    margin: 0;
}

/* Project Section */

.section-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.project-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.project-header-container {
    /* padding-top:  30px; */
    padding-bottom: 50px;
}

.project-header {
    margin-bottom: 30px;
}

.project-card {
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px;
    margin: 80px;
}

.project-card a {
    text-decoration: none;
    color: #000;
}

.project-card:hover {
    transform: scale(1.1);
    transition: transform .3s;
    box-shadow: 20px 20px 40px;
    /* transition-timing-function: ease; */
    /* transition-timing-function: ease-out; */
}

.project-img {
    margin-top: 25px;
    width: 250px;
}

.project-container hr {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.project-title {
    margin-top: 30px;
    font-size: 40px;
    font-weight: 400;
}

.subtext {
    font-size: 20px;
    font-weight: 400;
    margin-top: 25px;
}

.projects {
    margin-top: 40px;
    /* justify-content: center; */
    /* align-items: center; */
}

.description-link {
    /* background-color: transparent; */
    /* border: none; */
    font-size: 20px;
    cursor: pointer;
}


/* Contact Section */

.section-contact {
    display: flex;
    flex-direction: column; 
    /* justify-content: flex-end;  */
    align-items: center;
    padding: 80px;
}

.section-contact h2 {
    margin-bottom: 10px;
}