:root {
    --color-bg-main: #F5F5F5;
    --color-bg-header: #1c1d25;

    --color-text-main: #1c1d25;
    --color-text-header: #fff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-bg-main: #1c1d25;
        --color-bg-header: #F5F5F5;
        --color-text-main: #F5F5F5;
        --color-text-header: #1c1d25;
    }
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-bg-main);
    color: var(--color-text-main);
}

header {
    height: 60px;
    background-color: var(--color-bg-header);
    justify-content: space-around;
    color: var(--color-text-header);
}

nav {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav a {
    text-decoration: none;
    color: var(--color-text-header);
}

nav ul {
    display: flex;
    list-style-type: none;
    width: 50%;
    justify-content: space-around;
    font-size: 30px;
}

nav li {
    text-decoration: none;
}

.logo {
    margin-right: 0px;
    padding-top: 10px;
}

.dark-light-btn {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: var(--color-text-header);
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    border: 1px solid #000;
}

/* Hero Section */

.hero-header {
    font-weight: 600;
    font-size: 90px;
}

.hero-subtext {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    font-weight: 200;
}

/* Project Section */

/* Contact Section */

.section-contact {
    display: flex;
    flex-direction: column; 
    /* justify-content: flex-end;  */
    align-items: center;
    padding: 80px;
}