<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Portfolio site for Jakob Bundgaard">
    <meta name="author" content="Jakob Bundgaard">
    <title>ChatBot projektbeskrivelse</title>
    <link rel="shortcut icon" href="images/favicon-16x16.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="../js/script.js" defer></script>
</head>
<body>
    <header>
        <nav>
            <a href="../index.html"><img class="logo" src="../images/logo-192x192.png" alt="Logo for Jakob Bundgaard"></a>   
            <ul>
                <li><a href="#description">Beskrivelse</a></li>
                <li><a href="#walkthrough">Showcase</a></li>
                <li><a href="#learned">Læring</a></li>
            </ul>
            <i class="bi bi-brightness-high-fill" id="toggleDark"></i>
        </nav>
    </header>
    <main>
        <section class="project-description" id="description">
            <article>
                <div class="description-header-container">
                    <h2 class="description-header">Projekt Beskrivelse</h2>
                    <div class="content-container">
                        <div class="information">
                            <p><b  class="myVinyls">ChatBot</b> er et projekt fra PBA i Webudvikling, hvor vi skulle bygge en simpel
                                chatGPTclon.</p>
                            <p>Backenden er bygget i PHP og frontenden er bygget i HTML, CSS og JavaScript.</p>
                            <p>Projektet har kørt i 3 iterationer.</p>
                            <p>I 1. iteration skulle der bygges en serverside version.</p>
                            <p>I 2. iteration skulle serverside versionen konverteres til
                                 en asynkron clientside version med JS fetch API.</p>
                            <p>I 3. iteriation skulle der arbejdes kollaborativt i grupper med Github som version control,</p>
                            <p>og opgaven var at koble en mySQL database på projektet, så chat historikken blev gemt i en tabel.</p>
                        </div>
                    </div>
                </div>
            </article>
        </section>

        <section class="project-showcase" id="walkthrough">
            <article>
                <div class="showcase-header-container">
                    <h2 class="description-header">Showcase</h2>
                    <div class="showcase-container">
                        <div class="showcase-project-card">
                            <h3 class="showcase-card-title">1. Iteration</h3>
                            <div class="showcase-description-container">
                                <img class="showcase-img" src="../images/project-1.jpg" alt="Project 1 image">
                                <div class="showcase-subtext">
                                    <p>Kommer snart</p>
                                </div>
                                <!-- <img class="showcase-img" src="../images/project-1.jpg" alt="Project 1 image">
                                <div class="showcase-subtext">
                                    <p>Vis log-in image og beskriv funktionalitet</p>
                                </div> -->
                            </div>
                        </div>
                        <div class="showcase-project-card">
                            <h3 class="showcase-card-title">2. Iteration</h3>
                            <div class="showcase-description-container">
                                <img class="showcase-img" src="../images/project-1.jpg" alt="Project 1 image">
                                <div class="showcase-subtext">
                                    <p>Kommer snart</p>
                                </div>
                                <!-- <img class="showcase-img" src="../images/project-1.jpg" alt="Project 1 image">
                                <div class="showcase-subtext">
                                    <p>Vis log-in image og beskriv funktionalitet</p>
                                </div> -->
                            </div>
                        </div>
                        <div class="showcase-project-card">
                            <h3 class="showcase-card-title">3. Iteration</h3>
                            <div class="showcase-description-container">
                                <img class="showcase-img" src="../images/GitGraph_start.PNG" alt="Project 1 image">
                                <div class="showcase-subtext">
                                    <p>Vores tilgang til projektet var. pga projektets omfang, </p>
                                    <p>at arbejde sammen istedet for hver for sig. For at få</p>
                                    <p>en bedre grundforståelse for at sætte en database op,</p>
                                    <p>normalisering af tabeller, få lavet en connection og </p>
                                    <p>kunne gemme og hente data fra dem.</p>
                                </div>
                                <img class="showcase-img" src="../images/ER_final.PNG" alt="Project 1 image">
                                <div class="showcase-subtext">
                                    <p>ER-diagram</p>
                                    <p>Her er sidste version af vores ER-diagram.</p>
                                    <p>Hvor man kan se at vi har 3 tabeller.</p>
                                    <p>Vi har en users tabel med "en til mange" relation til chat_history tabellen.</p>
                                    <p>Vores chat_history tabel med "en til mange" relation til vores responses tabel.</p>
                                </div>
                            </div>
                        </div>
                        <div class="showcase-project-card">
                            <h3 class="showcase-card-title">3. Iteration</h3>
                            <div class="showcase-description-container">
                                <img class="showcase-img" src="../images/tables_final.PNG" alt="Project 1 image">
                                <div class="showcase-subtext">
                                    <p>Her er vores SQL queries til at lave tabellerne.</p>
                                    <p>I responses tabellen har vi et autoincrementet responses_id, som er primary key og to</p>
                                    <p>varchar attributter til spørgsmål og svar.</p>
                                    <p>I chat_history tabellen har vi en primary key history_id, to varchar attributter</p>
                                    <p>user_messages og response, til brugerens input og chatbottens svar.</p>
                                    <p>Så har vi chat_id, som er foreign key, en reference til responses tabellen.</p>
                                    <p>Users tabellen er til så, der på sigt, kan oprettes flere brugere som kan</p>
                                    <p>se deres egen chat historik</p>
                                </div>
                                <img class="showcase-img" src="../images/db_connection.PNG" alt="Project 1 image">
                                <div class="showcase-subtext">
                                    <p>Her forbinder vi til databasen med mysqli_connect.</p>
                                    <p>først includer vi sql.php, hvor database informationen ligger.</p>
                                    <p>De ligge i en seperat fil, som er gitignored, så login info</p>
                                    <p>ikke bliver commited til Github</p>
                                </div>
                            </div>
                        </div>
                        <div class="showcase-project-card">
                            <h3 class="showcase-card-title">3. Iteration</h3>
                            <div class="showcase-description-container">
                                <img class="showcase-img" src="../images/message1.PNG" alt="Project 1 image">
                                <div class="showcase-subtext">
                                    <p>Her tilføjes spørgsmålet til chatcontaineren.</p>
                                </div>
                                <img class="showcase-img" src="../images/find_response_query.PNG" alt="Project 1 image">
                                <div class="showcase-subtext">
                                    <p>Her vises sql-queryen i backend/backend.php der finder det korrekte svar.</p>
                                    <p>Der bruges prepared statements for at beskytte mod f.eks. sql-injections</p>
                                </div>
                            </div>
                        </div>
                        <div class="showcase-project-card">
                            <h3 class="showcase-card-title">3. Iteration</h3>
                            <div class="showcase-description-container">
                                <img class="showcase-img" src="../images/display_chat_hist.PNG" alt="Project 1 image">
                                <div class="showcase-subtext">
                                    <p>Her bruges JS fetch api til at sende json data til endpointed "backend/backend.php"</p>
                                    <p>Det gøres med et POST request</p>
                                </div>
                                <img class="showcase-img" src="../images/chat_history_backend.PNG" alt="Project 1 image">
                                <div class="showcase-subtext">
                                    <p>Her vises sql-queryen, der indsætter spørgsmål og svar i chat_history tabellen</p>
                                </div>
                            </div>
                        </div>
                        <div class="showcase-project-card">
                            <h3 class="showcase-card-title">3. Iteration</h3>
                            <div class="showcase-description-container">
                                <img class="showcase-img" src="../images/get_chatHistory.PNG" alt="Project 1 image">
                                <div class="showcase-subtext">
                                    <p>Her vises sql-queryen der henter chathistorikken.</p>
                                    <p>Der loopes over indholdet</p>
                                </div>
                                <img class="showcase-img" src="../images/fetch_chatHistory_onload.PNG" alt="Project 1 image">
                                <div class="showcase-subtext">
                                    <p>Her vises en fetch på endpointed "backend/getAllMessages.php",</p>
                                    <p>der viser chat-historikken når chatbotten åbnes eller siden refreshes</p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <p class="github-link"><a href="https://github.com/eaaa-dob-wu-e23a/portfolio-JakobBundgaard" target="_blank">Github</a></p>
            </article>
        </section>


        <section class="lessons-learned" id="learned">
            <article>
                <div class="learned-header-container">
                    <h2 class="description-header">Læring</h2>
                    <div class="content-container">
                        <div class="information">
                            <p>Projektet har givet mig en bedre forståelse af</p>
                            <p>hvordan JS fetch api bruges til at sende og hente data fra en</p>
                            <p>sql database ved hjælp af quereies</p>
                            <p>Derudover har jeg lært meget af at bruge Github kollaborativt.</p>
                            <p>Specifikt merging og fetching.</p>
                            <p>Alt i alt har det været en lærerig process.</p>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </main>
</body>