<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Portfolio site for Jakob Bundgaard" />
    <meta name="author" content="Jakob Bundgaard" />
    <title>Sailmore projektbeskrivelse</title>
    <link
      rel="shortcut icon"
      href="../images/favicon-16x16.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../css/responsive.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <script src="../js/script.js" defer></script>
  </head>
  <body>
    <header>
      <nav>
        <a href="../index.html"
          ><img
            class="logo"
            src="../images/logo-192x192.png"
            alt="Logo for Jakob Bundgaard"
        /></a>
        <button
          class="hamburger"
          aria-label="Toggle menu"
          aria-expanded="false"
        >
          &#9776;
          <!-- This is a common character used to represent a hamburger menu -->
        </button>
        <ul class="nav-links">
          <li><a href="#description">Beskrivelse</a></li>
          <li><a href="#walkthrough">Showcase</a></li>
          <li><a href="#learned">Læring</a></li>
        </ul>
        <!-- <i class="bi bi-brightness-high-fill" id="toggleDark"></i> -->
      </nav>
    </header>
    <main>
      <section class="project-description" id="description">
        <article>
          <div class="description-header-container">
            <h2 class="description-header">Beskrivelse</h2>
            <div class="content-container">
              <div class="information">
                <p>
                  <b class="myVinyls">Sailmore</b> er et afsluttende
                  semesterprojekt på webudvikling, designet til at fremme
                  forbindelsen mellem skippere og gaster til tursejlads.
                  Projektet blev udviklet af et team på fire udviklere, hvor vi
                  alle bidrog til designfasen og havde hver vores specifikke
                  ansvarsområder. Min primære rolle var at stå for
                  implementeringen af funktionalitet for gaster. Både front-end
                  delen og CRUD-funktionaliteter. Dette involverede at give
                  brugerne mulighed for til at tilmelde sig, logge ind, redigere
                  deres profiler og slette dem, hvis nødvendigt.
                </p>
                <p>
                  Frontenden er udviklet med React.js og CSS for at skabe et
                  brugervenlig interface, mens backenden er bygget i PHP og
                  understøttet af en MySQL-database for sikker datahåndtering og
                  lagring. Brugen af React.js tillod os at bygge en dynamisk og
                  interaktiv webapplikation, der udnyttede komponentbaseret
                  udvikling for at sikre en god brugeroplevelse.
                </p>

                <p>
                  SailMore blev udviklet som en mobil app med fokus på
                  brugervenlighed og mobilitet. Denne mobil-first tilgang
                  betyder, at brugerne kan nyde en sømløs oplevelse på deres
                  smartphones, hvilket gør det lettere end nogensinde at
                  engagere sig i sejlsportsfællesskabet uanset tid og sted.
                </p>

                <p class="github-link">
                  <a
                    href="https://github.com/JakobBundgaard/sailmore"
                    target="_blank"
                    ><img src="../images/github-sign.png" alt="Github logo"
                  /></a>
                </p>
              </div>
            </div>
          </div>
        </article>
      </section>

      <section class="project-showcase" id="walkthrough">
        <article>
          <div class="showcase-header-container">
            <h2 class="description-header">Showcase</h2>

            <div class="showcase-project-card">
              <h3 class="showcase-card-title">Forside</h3>
              <div class="showcase-description-container">
                <img
                  class="showcase-img"
                  src="../images/sailmore/forside.JPG"
                  alt="Landingpage"
                />
                <div class="showcase-subtext">
                  <p>
                    På forsiden er der mulighed for at browse og søge på ture,
                    der er lagt op. Man kan klikke ind på hver enkelt tur og se
                    detaljer om den pågældende tur, hvilken skipper der har lagt
                    turen op og detaljer om skipperens båd. Der er også mulighed
                    for at melde sig til en tur, men klikker på man på
                    "apply"-knappen bliver man bedt om at logge ind eller
                    oprette sig som bruger, hvis ikke man er det.
                  </p>
                  <br />
                  <p>
                    Nederst på siden har vi navigationsbaren hvor brugeren kan
                    navigere rundt på app'en, og få adgang til flere
                    nøglefunktioner for at udforske og interagere med sitet.
                  </p>
                  <br />
                </div>
              </div>
            </div>

            <div class="showcase-container">
              <div class="showcase-project-card">
                <h3 class="showcase-card-title">Sign-up and Log-in</h3>
                <div class="showcase-description-container">
                  <div class="showcase-subtext">
                    <br />
                    <p>
                      På signup-siden har brugeren mulighed for at oprette en
                      konto ved at gennemgå en registreringsproces. I løbet af
                      processen bliver brugeren opfordret til at udfylde en
                      række felter med personlige data, herunder navn, email, et
                      ønsket password samt en gentagelse af passwordet for
                      bekræftelse, sammen med andre relevante oplysninger. Dette
                      trin er afgørende for at sikre en personlig og sikker
                      brugeroplevelse på platformen.
                    </p>
                    <br />
                    <p>
                      Efter succesfuld registrering bliver brugeren ført til
                      login siden, hvor man så kan logge ind med de oplysninger
                      man er registreret med. Her er der implementeret
                      validering, så brugeren promptes, hvis det er de forkerte
                      oplysninger der tastes ind.
                    </p>
                    <br />
                  </div>
                  <img
                    class="showcase-img-2"
                    src="../images/sailmore/signup.JPG"
                    alt="Project 1 image"
                  />
                </div>
              </div>

              <div class="showcase-project-card">
                <h3 class="showcase-card-title">Profil side</h3>
                <div class="showcase-description-container">
                  <img
                    class="showcase-img"
                    src="../images/sailmore/profil.JPG"
                    alt="Profilpage"
                  />
                  <div class="showcase-subtext">
                    <br />
                    <p>
                      Efter en bruger har logget ind, bliver vedkommende
                      omdirigeret til sin profilsiden. På denne side præsenteres
                      brugeren for sine egne oplysninger. Der findes en
                      redigeringsknap, som giver mulighed for at foretage
                      ændringer i brugerens oplysninger eller, hvis ønsket,
                      slette profilen helt. Dette tillader brugere at have fuld
                      kontrol over deres personlige information og sikrer en
                      tilpasset brugeroplevelse på platformen.
                    </p>
                    <br />
                    <p>
                      Yderligere, som en del af de tilgængelige funktioner for
                      indloggede brugere, tilbydes der muligheden for at
                      tilmelde sig forskellige ture.
                    </p>
                    <br />
                    <br />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      </section>

      <section class="project-description" id="learned">
        <article>
          <div class="description-header-container">
            <h2 class="lessons-learned">Læring</h2>
            <div class="content-container">
              <div class="information">
                <p>
                  Sailmore var mit første størrere projekt med React og
                  komponentbaseret udvikling. Jeg lærte meget om, hvordan man
                  opbygger responsive og brugervenlige webapplikationer og
                  arbejdet med SQL-databasen i sammenhæng med React gav mig
                  praktisk erfaring med databasemanipulation og datahåndtering
                  på klient-siden. Denne erfaring har givet mig en bedre
                  forståelse af, hvordan man effektivt kan integrere front-end
                  og back-end teknologier for at skabe en funktionel og
                  tiltalende applikation.
                </p>
                <br />
                <p>
                  Gennem arbejdet med Sailmore lærte jeg ikke kun om tekniske
                  færdigheder, men også om vigtigheden af teamwork og
                  kommunikation inden for et udviklerhold. At arbejde sammen om
                  at designe appen og derefter fordele ansvarsområderne, mens vi
                  stadig støttede hinanden gennem udviklingsprocessen, var en
                  lærerig oplevelse.
                </p>
              </div>
            </div>
          </div>
        </article>
      </section>
      <footer class="section-contact" id="contact">
        <h2 class="contact-header">Kontakt</h2>
        <div class="social-links">
          <a
            href="https://www.linkedin.com/in/jakob-bundgaard-b867b51a2/"
            target="_blank"
            ><img
              class="social-link linkedIn-link"
              src="../images/linked-big-square-logo.png"
              alt="LinkeIn logo"
          /></a>
          <a href="https://github.com/JakobBundgaard" target="_blank"
            ><img
              class="social-link github-link-2"
              src="../images/github-sign.png"
              alt="Github logo"
          /></a>
          <a href="mailto: jakobbundgaard@hotmail.com"
            ><img
              class="social-link mail-link"
              src="../images/mail.png"
              alt="Mail icon"
          /></a>
        </div>
      </footer>
    </main>
  </body>
</html>
